---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ColumnLimit: 100
BreakBeforeBraces: Allman
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AlignConsecutiveAssignments: false
AlignTrailingComments: true
PointerAlignment: Right
SortIncludes: false
IncludeBlocks: Preserve
SpaceAfterCStyleCast: false
NamespaceIndentation: None
FixNamespaceComments: true
